
body {
    margin: 0;
    padding: 0;
    
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: rgb(255, 255, 255);
    
    background-color: #849d8f;
}

.container {
    width: 1200px;
    margin: 0 auto;
    outline: 1px solid magenta;
}

.article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.btn {
  height: 46px;
    
  padding-left: 22px;
  padding-right: 22px;
    
  border: 0;
  border-radius: 45px;
 
  font-size: 18px;
  font-family: "Roboto", Arial;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
    
  background-image: 
      linear-gradient( 0, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.btn:hover {
  background-image: 
      linear-gradient( 0deg, rgb(244,138,100) 0%, rgb(236,111,94) 100%); 100%);
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, .2);

}

.btn:active {
  outline: none;
  background-image: 
      linear-gradient( 0deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow:  0px 2px 2px 0px rgba(148, 39, 24, 1);
  z-index: 10;
}


.btn:focus {
  outline: none;
}

.left,
.right {
  position: relative;
  width: 560px;
  height: 220px;
  box-sizing: border-box;
  padding: 22px;
  margin-bottom: 26px;
  
  border-radius: 13px;
  
  outline: 1px solid magenta;
}

.left h2,
.right h2{
  margin: 0;
  margin-bottom: 21px;
  padding: 0;
  font-size: 35px;
}

.left p,
.right p {
  margin: 0;
  padding: 0;
  font-weight: 600;
}

.left {
  margin-left: 24px;
}

.right {
  margin-right: 24px;
}

.left .btn,
.right .btn {
  position: absolute;
  right: 22px;
  bottom: 22px;
}

.raspberry {
  background-image: url(img/raspberry.jpg);
}

.chocolate {
  background-image: url(img/chocolate.jpg);
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  width: 100%;
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 10px;
  
  z-index: 5;
  
  outline: 1px solid black;
}

.item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  position: relative;
  width: 267px;
  padding: 13px;
  
  outline: 1px solid black;
}

.item::before {
  content: "";
  position: absolute;
  width: 61px;
  height: 61px;
  
  background-image: url(img/svg/hit.svg);
  z-index: 3;
}

.item:hover::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 115%;
  top: 0px;
  left: 0px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  z-index: -1;
}


.less {
  position: absolute;
  display: none;
  width: 267px;
/*  height: 35px;*/
  top: 355px;
/*  left: 54px;*/
  font-size: 15px;
}

.item:hover .less {
    display: block;
}


.item .wrapper {
  position: relative;
  width: 267px;
  height: 267px;
  overflow: hidden;
  border-radius: 50%;
/*  outline: 1px solid black;*/
}

.image {
  position: absolute;
  width: 269px;
  top: -1px;
  left: -1px;
}

.price {
  position: absolute;
  top: 200px;
  left: 13px;
  
  font-size: 45px;
  line-height: 60px;
  font-weight: 900;
}

.kg {
  padding-top: 8px;
  font-size: 30px;
  line-height: 60px;
  font-style: normal;
} 

.description {
/*  position: relative;*/
  top: -70px;
  text-align: center;
  text-decoration: underline;
}

.waffle{
  width: 1146px;
  height: 300px;
  
  padding: 21px;
  margin-top: 0px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 40px;
  
  color: #323232;
  border-radius: 13px;
  background-image: url(img/waffle.jpg);
}

.benefits-title {
  font-size: 24px;
  line-height: 30px;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.benefits-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
  margin: 0;
  padding: 0;
}

.benefits {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 56px;
  padding-top: 18px;
  
  width: 540px;
  box-sizing: border-box;
}

.benefits::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  
  top: 0;
  left: 0;
}

.benefits:nth-child(1)::before {
  background-image: url(img/svg/ice-cream.svg);
}

.benefits:nth-child(2)::before {
  background-image: url(img/svg/cow.svg);
}

.benefits:nth-child(3)::before {
  background-image: url(img/svg/eco.svg);
}

.benefits:nth-child(4)::before {
  background-image: url(img/svg/thermometer.svg);
}

.strawberry {
  background-image: url(img/strawberry.jpg);
}

.strawberry span {
  font-size: 16px;
  color: #353535;
}

.big-text-link{
  display: block;
  width: 290px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
  color: #353535;
}

.post {
  padding: 5px;
  box-sizing: border-box;
  background-image: url(img/post-bg.jpg);
  border: 5px;
  border-radius: 10px;
}

.post p{
/*  padding: 22px;*/
  padding-top: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #5a5a5a;
}

.inner form {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.post form .btn{
  position: relative;
  right: 0;
  top:0;
  margin-left: 12px;
/*  left: 12px;*/
}

.inner {
  width: 100%;
  height: 100%;
  
  box-sizing: border-box;
  padding: 22px;
  
  background-color: #f8f7f4;
  border-radius: 13px;
}

input {
  width: 100%;
  height: 46px;
  padding: 12px;
  box-sizing: border-box;
  
  font-size: 16px;
  line-height: 24px;
  
  border: 1px solid #d3d3d2;
  border-radius: 4px;
}

.map {
  position: relative;
  width: 100%;
  height: 430px;
  
  margin-bottom: 20px;
  border-radius: 10px;
  
  background-image: url(img/map.jpg);
}

.address {
  position: absolute;
  width: 293px;
  height: 305px;
  top: 65px;
  right: 26px;
  
  box-sizing: border-box;
  padding: 26px;
  
  font-size: 14px;
  line-height: 20px;
  color: #343434;
  
  border-radius: 15px;
  background-color: #ffffff;
}

.address p{
  margin: 0;
  padding: 0;
  margin-top: 4px;
  margin-bottom: 25px;
}

.address b{
  font-size: 18px;
  line-height: 24px;
}

footer.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  
  box-sizing: border-box;
  padding-left: 27px;
  padding-right: 27px;
  margin-bottom: 30px;
}

footer .logo {
  width: 110px;
}

footer a {
  font-size: 13px;
  color: #ffffff;
}

footer p {
  margin: 0;
  padding: 0;
  font-size: 13px;
  color: #ffffff;
}

.social ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social li {
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-right: 20px;
}

.social a {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 4px solid rgba(255,255,255, 0.6);
  background-repeat: no-repeat;
  opacity: 0.85;
}

.social a:hover {
  opacity: 1;
}

.social a:active {
  box-shadow: inset 0px 2px 1px 0px rgba(136, 136, 136, 1);
}

.social-twitter {
  background-image: url(img/svg/twitter.svg);
}

.social-instagram {
  background-image: url(img/svg/instagram.svg);
}

.social-fb {
  background-image: url(img/svg/fb.svg);
}

.social-vk {
  background-image: url(img/svg/vk.svg);
}

.about {
  display: flex;
  flex-wrap: wrap;
  
  width: 360px;
}

.about .column {
  padding-left: 32px;
}

.about a{
  display: block;
}

.heart {
  position: relative;
  font-weight: 600;
}

.heart::before {
  content: "";
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  top: 5px;
  left: -20px;
  background-image: url(img/svg/heart.svg);
  background-repeat: no-repeat;
}